
{% extends 'base/dashboard.html' %}

{% load i18n %}
{% block 'title' %}PSP | {% trans "Detail project" %}{% endblock %}

{% block 'links' %}{% endblock %}

{% block 'content' %}
    <div class="row">
        <!-- Card donde va nombre, descripción, admin -->
        <div class="col-xl-6 p-3">
            <div class="au-card">
                <div class="row">
                    <div class="col">
                        <span class="float-right border p-1 pl-2 pr-2 mb-2 font-weight-bold rounded-lg {% if project.status == 'En proceso' %}border-primary text-primary{% elif project.status == 'Cancelado' %}border-danger text-danger{% elif project.status == 'Pausado' %}border-warning text-warning{% else %}border-success text-success{% endif %}">{{ project.status }}</span>
                        <span class="float-left"><h3>{{ project.name }}</h3></span>
                    </div>
                </div>
                <br/>
                <p>{{ project.description }}</p>
                <br/>
                <p><b>{% trans "Project managed by" %} </b><a href="{% url 'users:profile_user' project.admin.username %}">@{{ project.admin.username }}</a></p>
            </div>
        </div>
        <div class="col-xl-6 p-3">
            <div class="au-card">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>{% trans "Start date" %}</th>
                            <td>{{ project.start_date }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Planning date" %}</th>
                            <td>{{ project.planning_date|date }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "Finish date" %}</th>
                            <td>
                                {% if not project.finish_date %}
                                    ---
                                {% else %}
                                    {{ project.finish_date|date }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="au-card col-xl-3">
        <h4>{% trans "Programmers" %}</h4>
        {% for programmer in project.users.all %}
            <div class="row mt-3 shadow-sm p-2">
                {% if not programmer.get_profile.picture %}
                    {% load static %}
                    {% if programmer.get_profile.type_user == 'masculino' %}
                        <img src="{% static 'img/avatar_profile.png' %}" height="45" width="45" alt="">
                    {% elif programmer.get_profile.type_user == 'femenino' %}
                        <img src="{% static 'img/avatar_profile_woman.png' %}" height="45" width="45" alt="">
                    {% else %}
                        <img src="{% static 'img/avatar_profile_indefinido.png' %}" height="45" width="45" alt="">
                    {% endif %}
                {% else %}
                    <img src="{{ programmer.get_profile.picture.url }}" height="45" width="45" alt="">
                {% endif %}
                <p class="ml-2 mt-3"><a href="{% url 'users:profile_user' programmer.username %}">@{{ programmer.username }}</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block 'scripts' %}

{% endblock %}