
{% extends 'base/dashboard.html' %}

{% load i18n %}
{% block 'title' %}PSP | {% trans "Edit project" %}{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_project.css' %}">
{% endblock %}


{% block 'content' %}
    {% load i18n %}
    <div class="row">
        <div class="col-xl-8 p-3">
            <div class="au-card">
                <div class="card-header">
                    {% trans "Edit project" %}
                </div>
                <br/>
                <div>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                    <form method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="id_nombre">{% trans "Name" %}</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="id_description">{% trans "Description" %}</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label for="id_status">{% trans "Status" %}</label>
                            {{ form.status }}
                        </div>
                        <div class="form-group">
                            <label for="id_planning_date">{% trans "Delivery date" %}</label>
                            <input type="date" name="planning_date" class="form-control" value="{{ project.planning_date|date:"yy-m-d" }}">
                        </div>

                        <div class="form-group">
                            <label for="id_finish_date">{% trans "Final date" %}</label>
                            <input type="date" value="{{ project.finish_date|date:"yy-m-d" }}" id="id_finish_date" name="finish_date" class="form-control datepicker {% if form.finish_date.errors %}is-invalid{% endif %}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                            {% if form.finish_date.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.finish_date.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <br/>
                        <button type="submit" class="btn btn-block btn-update-project">{% trans "Update" %}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-4 p-3">
            <div class="au-card">
                <h4>{% trans "Programmers" %}</h4>
                <form action="{% url 'projects:add_programmer_to_project' project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="p-0 pr-2 col-xl-12 mt-2">
                            <input type="text" name="username_programmer" list="programmers" placeholder="Nombre de usuario" class="form-control">
                            <datalist id="programmers">
                                {% for programmer in programmers %}
                                    <option value="{{ programmer.username }}">{{ programmer.username }}</option>
                                {% endfor %}
                            </datalist>
                        </div>
                        <input type="submit" value="Agregar" class="btn btn-info col-xl-12 mt-2">
                    </div>
                </form>
                <hr class="mt-4 mb-4" />
                {% if not project.users.all %}
                    <p class="text-center">{% trans "There are no programmers in this project" %}</p>
                {% else %}
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-striped text-center table-hover">
                            <thead style="background-color: rgba(0,0,0,.03);">
                                <th>{% trans "Username" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </thead>
                            <tbody>
                                {% for programmer in project.users.all %}
                                    <tr>
                                        <td><a href="{% url 'users:profile_user' request.user.username %}">@{{ programmer.username }}</a></td>
                                        <td>
                                            <a href="{% url 'projects:remove_programmer_to_project' project.pk programmer.username %}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}