
# Ignore development environment
.env/
.venv/

# Ignore Visual Studio Code Configuration
.vscode/
.vs/

# Ignore python caché
__pycache__

# Ignore django migrations
migrations/

# Ignore database SQLite
*.sqlite3


