
# Ignore development environment
.env/
.venv/

# Ignore Visual Studio Code Configuration
.vscode/
.vs/
.idea/

# Ignore python caché
__pycache__

# Ignore database SQLite
*.sqlite3


# Ignore local emails
local_emails/

# Ignore the file of local variables configurations
varlocal.py