<!-- Items Menu -->
    <li class="active has-sub">
        <a class="js-arrow" href="#">
            <i class="fas fa-tachometer-alt"></i>Defectos
        </a>
        <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
            <li>
                <a href="index.html">Programadores</a>
            </li>
        </ul>
    </li>
    {% if request.user.get_profile.type_user == 'administrador' %}
        <li>
            <a href="{% url 'projects:list_projects' %}">
                <i class="fas fa-chart-bar"></i>Proyectos
            </a>
        </li>
    {% endif %}
    <li>
        <a href="">
            <i class="fas fa-sitemap"></i>Programas
        </a>
    </li>
    {% comment %} <li class="has-sub">
        <a class="js-arrow" href="#">
            <i class="fas fa-copy"></i>Crear usuario
        </a>
        <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
            <li>
                <a href="login.html">Login</a>
            </li>
            <li>
                <a href="register.html">Register</a>
            </li>
        </ul>
    </li> {% endcomment %}
<!-- END Items Menu -->