<!-- Items Menu -->
    {% comment %} <li class="active has-sub">
        <a class="js-arrow" href="#">
            <i class="fas fa-tachometer-alt"></i>Defectos
        </a>
        <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
            <li>
                <a href="index.html">Programadores</a>
            </li>
        </ul>
    </li> {% endcomment %}
    {% if request.user.get_profile.type_user == 'administrador' %}
        <li>
            <a href="{% url 'projects:list_projects' %}">
                <i class="fas fa-chart-bar"></i>Proyectos
            </a>
        </li>
        <li>
            <a href="{% url 'users:register' %}">
                <i class="fas fa-user-plus"></i>Crear usuario
            </a>
        </li>
    {% endif %}
    {% if request.user.get_profile.type_user == 'programmer' %}
        <li>
            <a href="{% url 'programs:programs_programmer' %}">
                <i class="fas fa-sitemap"></i>Programs
            </a>
        </li>
    {% endif %}
    {% if program_opened %}
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-folder-open"></i>Program directory
            </a>
            <ul class="list-unstyled navbar-mobile-sub__list js-sub-list">
                <li>
                    <a href="{% url 'logs:program_time_logs' program_opened.pk %}"><i class="far fa-clock"></i>Time Log</a>
                </li>
                <li>
                    <a href="{% url 'logs:program_defect_logs' program_opened.pk %}"><i class="fas fa-bug"></i>Defect Log</a>
                </li>
                <li>
                    <a href="{% url 'logs:list_defects_type' program_opened.pk %}"><i class="fas fa-tag"></i>Defect Type Standard</a>   
                </li>
                <li>
                    <a href=""><i class="fas fa-chart-line"></i>PIP</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-paper-plane"></i>Size Estimation template</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-crosshairs"></i>Test report</a>
                </li>
            </ul>
        </li>
    {% endif %}
<!-- END Items Menu -->