<!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="{% url 'dashboard' %}">
                {% load static %}
                <img src="{% static 'img/logo.png' %}" alt="logo PSP" height="85" width="85" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    {% include 'menus/items_menu.html' %}
                </ul>
            </nav>
        </div>
    </aside>
<!-- END MENU SIDEBAR-->