<div class="modal fade" id="modalEditNewPart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Edit Part</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <br/>

        <div class="text-center d-none mt-4 mb-4" id="loaderEditNewPart">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div id="contentModalBodyNewPart">
            <div class="modal-body">
            
                <div class="form-group">
                    <label for="">Name part</label>
                    <input type="text" id="nameNewPart" class="form-control">
                    <div class="invalid-feeback"></div>
                </div>

                <div class="form-group">
                    <label for="">Type part</label>
                    <select id="typeNewPart" class="form-control">
                        {% for type_part in type_parts %}
                            <option value="{{ type_part.name }}">{{ type_part.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feeback"></div>
                </div>

                <div class="form-group">
                    <label for="">Planned methods</label>
                    <input type="number" id="plannedMethodsNewPart" class="form-control">
                    <div class="invalid-feeback"></div>
                </div>
                
                <div class="form-row">

                    <div class="form-group col-xl-6">
                        <label for="">Planned Size estimation</label>
                        <select id="sizeEstimationNewPart" class="form-control">
                            {% for size in sizes_estimations %}
                                <option value="{{ size.name }}">{{ size.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feeback"></div>
                    </div>

                    <div class="form-group col-xl-6">
                        <label for="">Lines estimation</label>
                        <input disabled value="0" id="linesEstimationNewPart" class="form-control" type="text">
                    </div>

                </div>

                <div class="form-group">
                    <label for="">Current methods</label>
                    <input type="number" id="currentMethodsNewPart" class="form-control" placeholder="Enter the number of methods">
                    <div class="invalid-feeback"></div>
                </div>

                <div class="form-group">
                    <label for="">Current lines</label>
                    <input type="number" id="currentLinesNewPart" class="form-control" placeholder="Enter the number of lines">
                    <div class="invalid-feeback"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnEditNewPart" class="btn btn-primary">Edit</button>
            </div>
        </div>

        <br/><br/>
    </div>
  </div>
</div>