
{% load i18n %}
<div class="shadow-sm border p-4">
    <form action="{% url 'programs:create_part_program' program_opened.pk %}?type_part=new" method="POST">
        {% csrf_token %}
        <div class="form-row">

            <div class="form-group col-xl-6">
                <label for="">{% trans "Name of the part" %}</label>
                <input type="text" name="name_part" placeholder="{% trans "Enter name of the part" %}" class="form-control {% if form.name_part.errors %}is-invalid{% endif %}">
                <div class="invalid-feeback">
                    {% for error in form.name_part.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

            <div class="form-group col-xl-6">
                <label for="">{% trans "Type part" %}</label>
                <select name="type_part" id="typeNewPartFormCreate" class="form-control">
                    {% for type_part in type_parts %}
                        <option value="{{ type_part.name }}">{{ type_part.name }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-xl-4">
                <label for="">{% trans "Planned methods" %}</label>
                <input required type="number" name="planning_methods" id="plannedItemsNewPart" placeholder="{% trans "Enter items" %}" class="form-control {% if form.planning_methods.errors %}is-invalid{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.planning_methods.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

            <div class="form-group col-xl-4">
                <label for="">{% trans "Planned Size estimation" %}</label>
                <select name="size_estimation" id="inputSizeEstimation" class="form-control">
                    {% for size_estimation in sizes_estimations %}
                        <option value="{{ size_estimation.name }}">{{ size_estimation.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group col-xl-4">
                <label for="">{% trans "Lines estimation" %}</label>
                <input disabled type="text" id="inputLinesEstimation" class="form-control" value="0">
            </div>

            <div class="form-group col-xl-6">
                <label for="">{% trans "Current methods" %}</label>
                <input type="number" name="current_methods" placeholder="{% trans "Enter items" %}" class="form-control {% if form.current_methods.errors %}is-invalid{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.current_methods.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

            <div class="form-group col-xl-6">
                <label for="">{% trans "Current Size estimation" %}</label>
                <input type="number" name="current_lines" placeholder="{% trans "Current Size estimation" %}" class="form-control {% if form.current_lines.errors %}is-invalid{% endif %}">
                <div class="invalid-feedback">
                    {% for error in form.current_lines.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="text-right">
            <input type="submit" value="{% trans "Add" %}" class="btn btn-info">
        </div>
    </form>
</div>

<br/><br/>

<div class="table-responsive-md shadow-sm text-center">
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>{% trans "Part name" %}</th>
                <th>{% trans "Type part" %}</th>
                <th>{% trans "Planned methods" %}</th>
                <th>{% trans "Size estimation" %}</th>
                <th>{% trans "Planned lines" %}</th>
                <th>{% trans "Current methods" %}</th>
                <th>{% trans "Current lines" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for new_part in new_parts.object_list %}
                <tr>
                    <td>{{ new_part.name }}</td>
                    <td>{{ new_part.estimation.type_part.name }}</td>
                    <td>{{ new_part.planning_methods }}</td>
                    <td>{{ new_part.estimation.size_estimation.name }}</td>
                    <td>{{ new_part.planning_lines }}</td>
                    <td>{{ new_part.current_methods }}</td>
                    <td>{{ new_part.current_lines }}</td>
                    <td>
                        <button value='{"id": "{{ new_part.pk }}", "name": "{{ new_part.name }}", "typePart": "{{ new_part.estimation.type_part.name }}", "planningMethods": "{{ new_part.planning_methods }}", "sizeEstimation": "{{ new_part.estimation.size_estimation.name }}", "planningLines": "{{ new_part.planning_lines }}", "currentMethods": "{{ new_part.current_methods }}", "currentLines": "{{ new_part.current_lines }}"}' type="button" class="btn btn-info btnEditNewPart" data-toggle="modal" data-target="#modalEditNewPart"><i class="fas fa-pencil-alt"></i></button>
                        <button value='{"id": "{{ new_part.pk }}", "typePart": "new"}' class="btn btn-danger btnDeletePart" data-toggle="modal" data-target="#deletePartConfirmation"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">
                    <b>Total</b>
                </td>
                <td><b>{{ total_new_parts.planning }}</b></td>
                <td></td>
                <td><b>{{ total_new_parts.current }}</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

{% if pagination_new_parts.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <br/>
        <br/>
        <ul class="pagination justify-content-center">

            {% if new_parts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?type_part=new&page={{ new_parts.previous_page_number }}" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
                </li>
            {% endif %}

            {% for page in pagination_new_parts.page_range %}
                <li class="page-item {% if new_parts.number == page %}active{% endif %}"><a class="page-link" href="?type_part=new&page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if new_parts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?type_part=new&page={{ new_parts.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
