<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    {% block staticfiles %}{% endblock %}

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>

<body class="h-100" style="background: url('{% static 'img/login.jpg' %}'); background-size: cover; min-height: 100vh;">

    <div class="container h-100">
        <div class="row pt-5 h-100 mt-5 justify-content-center align-items-center">
            <div class="col-sm-12 col-md-5 mt-5 col-lg-5 pt-2 pl-5 pr-5 pb-5 bg-white" style="border-radius: 4px;" id="auth-container">

                {% block container %}{% endblock%}

            </div>
        </div>
    </div>

</body>
</html>