{% load static %}
<!-- Fontfaces CSS-->
<link rel="stylesheet" href="{% static 'css/font-face.css' %}">
<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
<link href="https://fonts.googleapis.com/css2?family=Armata&display=swap" rel="stylesheet">

<!-- Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Vendor CSS -->
<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">


<!-- Main CSS-->
<link rel="stylesheet" href="{% static 'css/theme.css' %}">