

{% extends 'base/dashboard.html' %}

{% load i18n %}
{% block 'title' %} PSP | Analysis Tools {% endblock 'title' %}

{% block modals_page %}
    {% include 'programs/analysis_tools/modal_graphic.html' %}
{% endblock %}

{% block 'content' %}
    {% load i18n %}
    
    {% if count_programs_finished >= 3 %}
        <div class="table-responsive-md shadow">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>{% trans "Analysis Charts and Reports" %}</th>
                        <th>{% trans "Graphic" %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for graphic in analysis_tools_graphics %}
                        <tr>
                            <td><b>{{ forloop.counter }}</b></td>
                            <td>{{ graphic|title }}</td>
                            <td>
                                <button value='{"user": "{{ programmer.username }}", "name": "{{ graphic|slugify }}"}' class="btnGraphicAnalysis btn btn-primary" data-toggle="modal" data-target="#modalDetailGraphic"><i class="fas fa-chart-bar"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="text-center">
            <h3>{% trans "You must have three completed programs to view the graphics" %}</h3>
        </div>
    {% endif %}
    
{% endblock 'content' %}


{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/CreatorChart.js' %}"></script>
    <script src="{% static 'js/Cookie.js' %}"></script>
    <script src="{% static 'js/APIService.js' %}"></script>
    <script src="{% static 'js/analysis_tools.js' %}"></script>
{% endblock 'scripts' %}

