

.container__time__log {
    font-size: 70px;
    font-family: 'Armata', sans-serif;
}

.controllers__timer {
    font-size: 70px;
}

.controllers__timer i {
    font-size: 25px;
    text-align: center;
}