
{% load i18n %}
<div class="row d-none">
    <div class="col-xl-6 mt-5">
        <h5 class="text-center">{% trans "Total defects removed:" %} <span id="spanActualDefectsRemoved">0</span></h5>
        <div>
            <canvas id="chartActualDefectsRemoved"></canvas>
        </div>
    </div>
    <div class="col-xl-6 mt-5">
        <h5 class="text-center">{% trans "Total defects TO-DATE:" %} <span id="spanTotalDefectsRemoved">0</span></h5>
        <div>
            <canvas id="chartTotalDefectsRemoved"></canvas>
        </div>
    </div>
    <div class="col-xl-6 mt-5">
        <h5 class="text-center">{% trans "Total defects removed (%)" %}</h5>
        <div>
            <canvas id="chartTotalDefectsRemovedPercentage"></canvas>
        </div>
    </div>
</div>