<div class="row d-none">
    <div class="col-xl-6 mt-5">
        <h5 class="text-center">Total <span id="spanActualDefects">0</span></h5>
        <div>
            <canvas id="chartActualDefects" height="200"></canvas>
        </div>
    </div>
    <div class="col-xl-6 mt-5">
        <h5 class="text-center">Total <span id="spanTotalDefects">0</span></h5>
        <div>
            <canvas id="chartTotalDefects" height="200"></canvas>
        </div>
    </div>
    <div class="col-xl-6 mt-5">
        {% load i18n %}
        <h5 class="text-center">{% trans "Total defects TO-DATE (%)" %}</h5>
        <div>
            <canvas id="chartTotalDefectsPercentage" height="200"></canvas>
        </div>
    </div>
</div>
