<div class="table-responsive-md shadow-sm">
    {% load i18n %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Plan</th>
                <th>Actual</th>
                <th>{% trans "To-Date" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% trans "Productivity (Size/H)" %}</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>{% trans "Actual Time (Min)" %}</td>
                <td>0.0</td>
                <td id="fieldActualTimeSummary">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="fieldTimeToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>CPI</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>{% trans "Reused (%)" %}</td>
                <td>{{ percentage_reused_planned }}</td>
                <td>{{ percentage_reused_actual }}</td>
                <td>{{ percentage_reused_to_date }}</td>
            </tr>
            <tr>
                <td>{% trans "New Reusable (%)" %}</td>
                <td>{{ percentage_new_lines_plan }}</td>
                <td>{{ percentage_new_lines_actual }}</td>
                <td>{{ percentage_new_lines_to_date }}</td>
            </tr>
            <tr>
                <td>{% trans "Test Defects/KLOC" %}</td>
                <td>0.0</td>
                <td>{{ summary.test_defects }}</td>
                <td lines="{{ total_lines_added_and_modified.total }}" id="fieldTotalDefectsUT">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Total Defects/KLOC" %}</td>
                <td>0.0</td>
                <td add-modified-lines="{{ lines_added_and_modified_actual }}" id="fieldTotalDefectsKLOC">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td lines="{{ total_lines_added_and_modified.total }}" id="fieldTotalDefectsToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Yield (%)" %}</td>
                <td>0.0</td>
                <td id="yieldSummaryActualProgram">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="yieldSummaryToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Appraisal COQ (%)" %}</td>
                <td>0.0</td>
                <td id="appraisalCOQActualProgram">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="appraisalCOQToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Failure COQ (%)" %}</td>
                <td>0.0</td>
                <td id="failureActualProgram">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="failureToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "COQ A/F Ratio" %}</td>
                <td>0.0</td>
                <td id="ratioAFActual">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="ratioAFToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>{% trans "Code Review Rate (Size/H)" %}</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
        </tbody>
    </table>
</div>