<div class="table-responsive-md shadow-sm">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Plan</th>
                <th>Actual</th>
                <th>To-Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Productivity (Size/H)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Actual Time (Min)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>CPI</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Reused (%)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>New Reusable (%)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Test Defects/KLOC</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Total Defects/KLOC</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Yield (%)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Appraisal COQ (%)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Failure COQ (%)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>COQ A/F Ratio</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Code Review Rate (Size/H)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
        </tbody>
    </table>
</div>