<div class="table-responsive-md shadow-sm">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Plan</th>
                <th>Actual</th>
                <th>To-Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Productivity (Size/H)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Actual Time (Min)</td>
                <td>0.0</td>
                <td id="fieldActualTimeSummary">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="fieldTimeToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>CPI</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
            <tr>
                <td>Reused (%)</td>
                <td>{{ percentage_reused_planned }}</td>
                <td>{{ percentage_reused_actual }}</td>
                <td>{{ percentage_reused_to_date }}</td>
            </tr>
            <tr>
                <td>New Reusable (%)</td>
                <td>{{ percentage_new_lines_plan }}</td>
                <td>{{ percentage_new_lines_actual }}</td>
                <td>{{ percentage_new_lines_to_date }}</td>
            </tr>
            <tr>
                <td>Test Defects/KLOC</td>
                <td>0.0</td>
                <td>{{ summary.test_defects }}</td>
                <td lines="{{ total_lines_added_and_modified.total }}" id="fieldTotalDefectsUT">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total Defects/KLOC</td>
                <td>0.0</td>
                <td add-modified-lines="{{ lines_added_and_modified_actual }}" id="fieldTotalDefectsKLOC">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td lines="{{ total_lines_added_and_modified.total }}" id="fieldTotalDefectsToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Yield (%)</td>
                <td>0.0</td>
                <td id="yieldSummaryActualProgram">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="yieldSummaryToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Appraisal COQ (%)</td>
                <td>0.0</td>
                <td id="appraisalCOQActualProgram">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="appraisalCOQToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Failure COQ (%)</td>
                <td>0.0</td>
                <td id="failureActualProgram">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="failureToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>COQ A/F Ratio</td>
                <td>0.0</td>
                <td id="ratioAFActual">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
                <td id="ratioAFToDate">
                    <div class="spinner-border spinner-border-sm text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Code Review Rate (Size/H)</td>
                <td>0.0</td>
                <td>0.0</td>
                <td>0.0</td>
            </tr>
        </tbody>
    </table>
</div>