{% extends 'base/dashboard.html' %}

{% block 'title' %}PSP | PIPViews{% endblock %}

{% block 'content' %}

    <div>
        <table class="table table-striped table-hover shadow">

            <thead class="thead-dark">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Problem Description</th>
                <th scope="col">Proposal Description</th>
                <th scope="col">Other Nothes and Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Mayo 11,2020</td>
                <td>test</td>
                <td>1</td>
                <td>2</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>Abril 20,2020</td>
                <td>test</td>
                <td>6</td>
                <td>5</td>
                </tr>
            </tbody>
            </table>

        <table class="table">

    </div>

{% endblock %}