
{% extends 'base/dashboard.html' %}

{% block 'title' %}PSP | Detalle programa{% endblock %}


{% block 'content' %}
    <h2>Plan Summary</h2>
    <br/>
    <div class="row">
        <div class="col-xl-6">
            <div class="au-card">
                <table class="table">
                    <thead>
                        <tr>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="au-card">
            
            </div>
        </div>
    </div>
{% endblock %}
