
{% extends 'base/dashboard.html' %}

{% block 'title' %}PSP | My programs{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/programs_programmer.css' %}">
{% endblock %}

{% block 'content' %}
    <h2>Tus programas asignados</h2>
    <br/>
    <div class="row p-4">
        {% for program in page_obj %}
            <div class="col-md-6 p-4">
                <div class="program-container">
                    <div class="content">
                        <div class="profile-img" style="background-image: url('{{ program.language.picture.url }}')"></div>
                        <h3 class="ml-4 mt-2">{{ program.name }}</h3>
                        <div class="description mt-2">
                            {{ program.description }}
                        </div>
                        <div class="descrip-project-module">
                            <a href="{% url 'projects:detail_project' program.module.project.pk %}" class="shadow-sm p-3 m-2 rounded w-100 mr-4">
                                <p><b>Proyecto: </b>{{ program.module.project.name }}</p>
                            </a>
                            <div class="shadow-sm p-3 m-2 mb-4 rounded w-100 mr-4">
                                <p><b>Módulo: </b> {{ program.module.name }}</p>
                            </div>
                        </div>
                        <a href="{% url 'programs:detail_program' program.pk %}" class="text-center btn-open-program"><i class="fas fa-folder-open mr-2"></i>Abrir programa</a>
                    </div>
                    <footer>
                        <table class="w-100">
                            <tbody>
                                <tr class="w-100">
                                    <td class="w-100">
                                        <b>Fecha inicio </b> {{ program.start_date|date }}
                                        <i class="fas fa-sort-down float-right btn-dates-down" style="font-size: 21px;"></i>
                                        <i class="fas fa-sort-up float-right btn-dates-up d-none" style="font-size: 21px;"></i>
                                    </td>
                                </tr>
                                <tr class="tr-date d-none">
                                    <td>
                                        <b>Fecha planeada </b> {{ program.planning_date|date }}
                                    </td>
                                </tr>
                                <tr class="tr-date d-none">
                                    <td>
                                        <b>Fecha final </b> {{ program.finish_date|date }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
            <br/>
            <br/>
            <br/>
            <br/>
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
                    </li>
                {% endif %}

                {% for page in paginator.page_range %}
                    <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}


{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/animation_dates.js' %}"></script>
{% endblock %}