
{% extends 'base/dashboard.html' %}

{% block 'title' %}PSP | Editar módulo{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/alert_hidden.css' %}">
{% endblock 'links' %}

{% block 'content' %}

    {% include 'base/custom_alert.html' %}

    <div class="au-card">
        <div class="card-header ml-3 mr-3">
            <h4>Editar módulo</h4>
        </div>
        
        <form method="post" class="card-body">
            {% csrf_token %}

            {% comment 'Name input of module' %}{% endcomment %}
            <div class="form-group">
                <label for="id_name"></label>
                <input type="text" name="name" value="{{ module.name }}" id="id_name" class="form-control {% if form.name.errors %}is-invalid{% endif %}">
                {% if form.name.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_description">Descripción</label>
                <textarea style="resize: none;" name="description" id="id_description" class="form-control w-100 {% if form.description.errors %}is-invalid{% endif %}" rows="5">{{ module.description }}</textarea>
                {% if form.description.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_planning_date">Fecha de entrega</label>
                <input type="date" value="{{ module.planning_date|date:"yy-m-d" }}" id="id_planning_date" name="planning_date" class="form-control datepicker {% if form.planning_date.errors %}is-invalid{% endif %}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                {% if form.planning_date.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.planning_date.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_finish_date">Fecha final</label>
                <input type="date" value="{{ module.finish_date|date:"yy-m-d" }}" id="id_finish_date" name="finish_date" class="form-control datepicker {% if form.finish_date.errors %}is-invalid{% endif %}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                {% if form.finish_date.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.finish_date.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <br/>
            <input type="submit" value="Actualizar modulo" class="btn btn-primary btn-block">
        </form>
    </div>
{% endblock %}


{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/hidden_alert.js' %}"></script>

    <script>
        const inputNameModule = document.getElementById('id_name')
        let hasInputNameError = "{{ form.description.errors }}"
        console.log(hasInputNameError)
    </script>
{% endblock %}

