
{% extends 'base/dashboard.html' %}

{% load i18n %}
{% block 'title' %}PSP | {% trans "Modules" %}{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttom_float.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert_hidden.css' %}">
{% endblock %}

{% block 'content' %}

    {% include 'base/custom_alert.html' %}

    <div>
        <h2>{% trans "Modules" %}</h2>
        <br/>
        {% if not modules %}
            <p>{% trans "There are no modules in this project" %}</p>
        {% else %}
            <div class="table-responsive-md">
                <table class="table table-borderless table-striped shadow-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Start date" %}</th>
                            <th>{% trans "Planning date" %}</th>
                            <th>{% trans "Finish date" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in modules %}
                            <tr>
                                <td class="text-break">{{ module.name }}</td>
                                <td class="text-break">{{ module.description }}</td>
                                <td>{{ module.start_date|date }}</td>
                                <td>{{ module.planning_date|date }}</td>
                                <td>
                                    {% if not module.finish_date %}
                                        ---
                                    {% else %}
                                        {{ module.finish_date|date }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if request.user.get_profile.type_user == 'administrador' %}
                                        <a href="{% url 'projects:update_module' module.project.pk module.pk %}" class="btn btn-secondary m-1" title="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
                                    {% endif %}
                                    <a href="{% url 'programs:list_programs' module.pk %}" class="btn btn-info m-1" title="{% trans "Programs" %}"><i class="fas fa-sitemap"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    
    {% if request.user.get_profile.type_user == 'administrador' %}
        <a href="{% url 'projects:create_module' pk_project %}" class="btn-flotante" title="{% trans "Create module" %}"><i class="fas fa-plus"></i></a>
    {% endif %}
{% endblock %}

{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/hidden_alert.js' %}"></script>
{% endblock %}