
{% extends 'base/dashboard.html' %}

{% block 'title' %}PSP | Defect logs{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/timer_time_defect.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert_hidden.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block 'content' %}
    <h2 class="text-center">DEFECT LOG</h2>
    <br/>
    {{ form.errors }}

    {% if request.session.defect_created %}
        {% load custom_tags %}
        {% show_alert_success "The defect was created success" %}
        {{ request.session|clear_session_data:"defect_created" }}

        <br/>
    {% endif %}

    <div class="au-card rounded-pill card__new__defect__log p-0" id="containerFormDefectLog">
        <div class="card__new__defect__log__header row">
            <div class="col">
                <span class="float-left pl-4 pt-3 text-secondary">
                    <h4 class="text-muted">Create new defect log</h4>
                </span>

                <span class="float-right p-2">
                    <button id="btnClosePanelCreateDefect" class="btn rounded-circle btn-primary d-none"><h3 class="text-white"><i class="fas fa-minus"></i></h3></button>
                    <button id="btnOpenPanelCreateDefect" class="btn rounded-circle btn-primary"><h3 class="text-white"><i class="fas fa-plus"></i></h3></button>
                </span>
            </div>
        </div>
        <div>
            <div class="au-card">
                <div class="timer-defect-log">
                    <div class="text-center">
                        <div class="container__time__defect">
                            <p><span id="time_hours">00</span> : <span id="time_mins">00</span> : <span id="time_seg">00</span></p>
                        </div>
                        <div class="row controllers__timer justify-content-center">

                            <!-- Button chronometer is running -->
                            <button id="btn-pause-chronometer" class="btn btn-info mr-2 pl-4 pr-4 d-none"><i class="fas fa-pause"></i></button>

                            <!-- Button chronometer is paused -->
                            <button id="btn-reset-chronometer" class="btn btn-info mr-2 pl-4 pr-4"><i class="fas fa-play"></i></button>

                            <!-- Button stop phase and save time -->
                            <button id="btn-stop-chronometer" class="btn btn-danger pl-4 pr-4"><i class="fas fa-stop"></i></button>
                        </div>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div>
                    <form action="{% url 'logs:program_defect_logs' program_opened.pk %}" method="POST">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="form-group col-xl-3">
                                <label for="id_date">Date</label>
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                    <input type="date" name="date" class="form-control bg-white" id="flatpickr" placeholder="YYYY-MM-DD">
                                </div>
                            </div>

                            <input type="number" name="time_reparation" class="d-none" id="time_defect_log">

                            <div class="form-group col-xl-3">
                                <label for="id_defect_type">Type</label>
                                <select class="form-control" name="defect_type" id="id_defect_type">
                                    {% for defect_type in type_defects %}
                                        <option value="{{ defect_type.number }}">{{ defect_type.number }} - {{ defect_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-xl-2">
                                <label for="id_phase_injected">Phase injected</label>
                                <select class="form-control" name="phase_injected" id="id_phase_injected">
                                    {% for phase in phases %}
                                        <option value="{{ phase.abbreviation }}">{{ phase.abbreviation }} ({{ phase.name }})</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-xl-2">
                                <label for="id_phase_removed">Phase removed</label>
                                <select class="form-control" name="phase_removed" id="id_phase_removed">
                                    {% for phase in phases %}
                                        <option value="{{ phase.abbreviation }}">{{ phase.abbreviation }} ({{ phase.name }})</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group col-xl-2">
                                <label for="id_chained_defect">Cousing defect</label><i class="far fa-question-circle float-right tip-help" id="tip-help-cousing-input"></i>
                                <select name="cousing_defect" id="input-cousing" class="form-control">
                                    <option value="">None</option>
                                    {% for defect in defect_logs %}
                                        <option value="{{ defect.pk }}">Defect <b> #{{ forloop.counter }}</b></option>
                                    {% endfor %}
                                </select>
                                <div class="bg-light p-2 shadow-sm d-none" id="tip-help-cousing-defect">
                                    <p>Si este defecto fue ocasionado por otro defecto, se debe especificar el <b>indice</b> del defecto que lo ocasionó</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-xl-6">
                                <label for="id_description">Description</label>
                                <textarea style="resize: none;" maxlength="500" class="form-control w-100" name="description" id="id_description" rows="4" placeholder="Enter description"></textarea>
                                <p>Characters <b><span id="counterDescription">0</span>/500</b></p>
                            </div>
                            <div class="form-group col-xl-6">
                                <label for="id_solution">Solution</label>
                                <textarea style="resize: none;" maxlength="500" class="form-control w-100" name="solution" id="id_solution" rows="4" placeholder="Enter solution"></textarea>
                                <p>Characters <b><span id="counterSolution">0</span>/500</b></p>
                            </div>
                        </div>
                        <br/>
                        
                        <input id="btnCreateDefect" type="submit" value="Create defect" disabled class="btn btn-dark btn-block">
                    </form>
                </div>
            </div>        
        </div>
    </div>

    <br/>

    <br/>

    {% if defect_logs %}
        <br/>
        <div class="table-responsive-md">
            <table class="table table-striped table-hover shadow-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Phase injected</th>
                        <th>Phase removed</th>
                        <th>Total time</th>
                        <th>Cousing defect</th>
                        <th>Description and solution</th>
                    </tr>
                </thead>
                <tbody>
                    {% for defect in defect_logs %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {{ defect.date|date }}
                            </td>
                            <td>{{ defect.defect.number }} - {{ defect.defect.name }}</td>
                            <td>{{ defect.phase_injected }}</td>
                            <td>{{ defect.phase_removed }}</td>
                            {% load convert_time %}
                            <td>{{ defect.time_reparation|seconds_to_time }}</td>
                            <td>
                                {% if not defect.cousing_defect %}
                                    None
                                {% else %}
                                    {% for cousing_defect in defect_logs %}
                                        {% if cousing_defect == defect.cousing_defect %}
                                            Defect #{{ forloop.counter }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <button value='{ "number": "{{ forloop.counter }}", "description": "{{ defect.description }}", "solution": "{{ defect.solution }}"}' data-target="#detailDefectModal" data-toggle="modal" class="btn btn-primary btnOpenModalDetails"><i class="fas fa-info-circle"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <br/>
        <p class="text-center"><b>No se ha creado ningun registro de defectos</b></p>
    {% endif %}

{% endblock %}


{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/count_words.js' %}"></script>
    <script src="{% static 'js/ParseTime.js' %}"></script>
    <script src="{% static 'js/defects/ChronometerDefectLog.js' %}"></script>
    <script src="{% static 'js/defects/timer_defect_log.js' %}"></script>
    <script src="{% static 'js/defects/log_defects.js' %}"></script>
    <script src="{% static 'js/defects/modal_details.js' %}"></script>
    <script src="{% static 'js/hidden_alert.js' %}"></script>
    <script src="{% static 'js/defects/global.js' %}"></script>

    <script>
        // Inputs && counters
        const inputDescription = document.getElementById('id_description')
        const counterDescription = document.getElementById('counterDescription')

        const inputSolution = document.getElementById('id_solution')
        const counterSolution = document.getElementById('counterSolution')

        CounterInputValue.showCountValue(inputDescription, counterDescription)
        CounterInputValue.showCountValue(inputSolution, counterSolution)

        var example = flatpickr('#flatpickr');
        
        const btnOpenPanelCreateDefect = document.getElementById('btnOpenPanelCreateDefect')
        const btnClosePanelCreateDefect = document.getElementById('btnClosePanelCreateDefect')
        const containerFormDefectLog = document.getElementById('containerFormDefectLog')

        btnOpenPanelCreateDefect.addEventListener('click', (e) => {

            btnClosePanelCreateDefect.classList.remove('d-none')
            btnOpenPanelCreateDefect.classList.add('d-none')

            containerFormDefectLog.classList.remove('rounded-pill')
            containerFormDefectLog.classList.remove('animation_min_height')
            containerFormDefectLog.classList.add('animation_max_height')

        })

        btnClosePanelCreateDefect.addEventListener('click', (e) => {
            btnClosePanelCreateDefect.classList.add('d-none')
            btnOpenPanelCreateDefect.classList.remove('d-none')

            containerFormDefectLog.classList.add('rounded-pill')
            containerFormDefectLog.classList.remove('animation_max_height')
        })

    </script>
{% endblock %}