
{% extends 'base/dashboard.html' %}

{% load i18n %}
{% block 'title' %}PSP | {% trans "Sign Up" %}{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert_hidden.css' %}">
{% endblock %}

{% block 'content' %}
    
    {% include 'base/custom_alert.html' %}
    {% load i18n %}

    <div class="jumbotron shadow row ml-3 mr-3">
        <div class="col-xl-8">
            <h1 class="pb-4">{% trans "Register a user" %}</h1>

            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" placeholder="{% trans "First name" %}">
                        {% if form.first_name.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.first_name.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" placeholder="{% trans "Last name" %}">
                        {% if form.last_name.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.last_name.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="{% trans "Username" %}">
                        {% if form.username.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="{% trans "Email Address" %}">
                        {% if form.email.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="password" name="password" value="{% if form.password.value %}{{ form.password.value }}{% endif %}" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="{% trans "Password" %}">
                        {% if form.password.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <input type="password" name="confirm_password" value="{% if form.confirm_password.value %}{{ form.confirm_password.value }}{% endif %}" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" placeholder="{% trans "Confirm password" %}">
                        {% if form.confirm_password.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.confirm_password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">{% trans "Sign Up" %}</button>
            </form>
        </div>
        
        <div class="col-xl-4 text-center">
            {% load static %}
            <img src="{% static 'img/user.png' %}" style="width: 170px;" alt="psp">
        </div>
    </div>

    <div class="au-card m-3">
        
        <div class="table-responsive-md">
            <table class="table table-striped shadow-sm">
                <thead class="thead-dark">
                    <tr>
                        {% load i18n %}
                        <th>{% trans "First name" %}</th>
                        <th>{% trans "Last name" %}</th>
                        <th>{% trans "Username" %}</th>
                        <th>{% trans "Email" %}</th>
                        <th class="text-center">{% trans "N° Programs assigned" %}</th>
                        <th>{% trans "Analysis Tools" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programmer in programmers %}
                        <tr>
                            <td>{{ programmer.first_name }}</td>
                            <td>{{ programmer.last_name }}</td>
                            <td>{{ programmer.username }}</td>
                            <td>{{ programmer.email }}</td>
                            <td class="text-center">{{ programmer.program_user.count }}</td>
                            <td class="text-center">
                                <a class="btn btn-primary" href="{% url 'users:analysis_tools' programmer.username %}"><i class="fas fa-chart-area"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/hidden_alert.js' %}"></script>
{% endblock %}
