
{% extends 'base/dashboard.html' %}

{% block 'title' %}PSP | Registrar usuario{% endblock %}

{% block 'links' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/alert_hidden.css' %}">
{% endblock %}

{% block 'content' %}
    
    {% include 'base/custom_alert.html' %}

    <div class="jumbotron shadow row ml-3 mr-3">
        <div class="col-xl-8">
            <h1 class="pb-4">Registrar un usuario</h1>

            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" placeholder="First name">
                        {% if form.first_name.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.first_name.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" placeholder="Last name">
                        {% if form.last_name.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.last_name.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" class="form-control {% if form.username.errors %}is-invalid{% endif %}" placeholder="Username">
                        {% if form.username.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <input type="text" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" class="form-control {% if form.email.errors %}is-invalid{% endif %}" placeholder="Email Address">
                        {% if form.email.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="password" name="password" value="{% if form.password.value %}{{ form.password.value }}{% endif %}" class="form-control {% if form.password.errors %}is-invalid{% endif %}" placeholder="Password">
                        {% if form.password.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <input type="password" name="confirm_password" value="{% if form.confirm_password.value %}{{ form.confirm_password.value }}{% endif %}" class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}" placeholder="Confirm password">
                        {% if form.confirm_password.errors %}
                            <div class="invalid-feeback">
                                {% for error in form.confirm_password.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Registrar</button>
            </form>
        </div>
        
        <div class="col-xl-4 text-center">
            {% load static %}
            <img src="{% static 'img/user.png' %}" style="width: 170px;" alt="psp">
        </div>
    </div>

    <div class="au-card m-3">
        <div class="table-responsive-md">
            <table class="table table-striped shadow-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th class="text-center">N° Programs assigned</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programmer in programmers %}
                        <tr>
                            <td>{{ programmer.first_name }}</td>
                            <td>{{ programmer.last_name }}</td>
                            <td>{{ programmer.username }}</td>
                            <td>{{ programmer.email }}</td>
                            <td class="text-center">{{ programmer.program_user.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block 'scripts' %}
    {% load static %}
    <script src="{% static 'js/hidden_alert.js' %}"></script>
{% endblock %}

{% comment %} <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> {% endcomment %}
